.header-outer {
    position: relative;
    z-index: 1;
    height: 70px;
    background-color: #F7F5EE;
    border-bottom: 2px solid black;
    width: 100%;
    margin-bottom: 60px;
}

.header-outer .content-container {
    display: flex;
    height: 100%;
    background-color: #F7F5EE;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
    padding: 0.188rem 0.625rem;
    border: 2px solid black;
    transition: 0.2s ease;
    color: black;
}

.logo:hover {
    background-color: #201D1C;
    color: #F7F5EE;
}

.logo__link {
    cursor: pointer;
    align-self: center;
}