body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fafafa;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  color: black;
  border: none;
  height: 1px;
  background-color: darkgrey;
  margin: 0;
}

.content-container {
  max-width: 1220px;
  position: relative;
  padding: 0 40px;
  margin: 0 auto;
}

/* Grain background */

.grain:after {
  /* content is required when using :after */
  content: "";
  /* The grainy image */
  background-image: url("./img/old_moon_@2X.jpg");
  /* Specify a height and width above and beyond the page header for movement */
  height: 300%;
  width: 300%;
  /* We're using opacity in place of a transparent image */
  opacity: 0.3;
  /* We'll need this when the animation kicks in to hold the position of the texture */
  position: fixed;
  top: -100%;
  left: -50%;
  /* The animation */
  animation: grain 8s steps(10) infinite;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

